{% extends '_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/markdown.css' %}">
{% endblock css %}

{% block content %}
<h1 class="uk-heading-divider">{{ object.title }}</h1>

{% if object.cover %}
    <img src="{{ object.cover.url }}" alt="{{ object.title }}">
{% endif %}

<div class="markdown">
    {{ object.get_content }}
</div>
{% include 'highlight.html' %}
{% endblock content %}

{% block javascript %}
{% include 'highlight.html' %}
{% endblock javascript %}