{% extends '_base.html' %}

{% block content %}
    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
        {% for article in object_list %}
            <a href="{{ article.get_absolute_url }}" class="uuk-display-block uk-link-toggle">
                <div class="uk-card uk-card-default uk-card-hover">
                    <div class="uk-card-body">
                        <p>{{ article.title }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}