{% extends '_base.html' %}
{% load widget_tweaks %}

{% block content %}
<div>
    <h1 class="uk-heading-divider">Add New Article</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.cover }}
        {{ form.title | add_class:'uk-input uk-margin' }}
        {{ form.content }}
        <button type="submit" class="uk-button uk-button-primary uk-margin">save</button>
    </form>
    {{ form.media }}
</div>
{% endblock content %}