{% load static %}

{% include 'uikit.html' %}

<div class="markdownx uk-grid-divider" uk-grid>
    <div class="uk-width-1-2">
        {% if object %}
            <input type="hidden" name="object_id" value="{{ object.id }}">
        {% endif %}
        {% include 'django/forms/widgets/textarea.html' %}
    </div>
    <div class="uk-width-1-2">
        <div class="markdownx-preview markdown"></div>
    </div>
</div>


<link rel="stylesheet" href="{% static 'css/markdown.css' %}">
{% include 'highlight.html' %}