{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        DJ CLOUDINARY MAKRDOWNX
        {% endblock title %}
    </title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <!-- local -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}
    {% endblock css %}
</head>
<body>

    {% include 'widgets/messages.html' %}

    <div class="uk-container uk-padding">
        {% block content %}
        {% endblock content %}
    </div>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>

    <!-- local -->
    <script src="{% static 'js/base.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>
